/********************************************************
    Variables
*********************************************************/

// Colors
$primary: orange;
$dark-grey: darkGrey;
$light-grey: lightGrey;
