/********************************************************
    Partials: _ first
*********************************************************/

// Colors
$primary: blue;
$dark-grey: darkGrey;
$light-grey: lightGrey;
