.auth__layout {
  // Layout general
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.auth__input_error {
  // Input error
  font-size: 14px;
  margin-top: 5px;

  color: #F00;
  @include whenDark{
    color: #FF5500;
  }
}

.auth_links_container {
  // Footer Links
  display: flex;
  justify-content: space-between;
}

.auth_links_text {
  font-size: 14px;

  color: #696969;
  @include whenDark{
    color: #FFF;
    opacity: 0.8;
  }
}

.card {
  @include whenDark {
    background-color: #232830;
  }
}

.card-header {
  @include whenDark {
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #FFF;
  }
}

.card-footer {
  @include whenDark {
    color: rgba(255, 255, 255, 0.85);
    border-top: 1px solid #FFF;
  }
}

.btn-secondary {
  @include whenDark {
    color: #FFF;
    background-color: #208A32;

    &:hover{
      background-color: rgba(0, 255, 0, 0.35)!important;
    }
  }
}